.header {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 1px 5px -2px hsl(0, 0%, 13%);
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navbar {
    width: 85%;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
    user-select: none;
}
.logo h1 {
   font-size: 2rem;
   color: hsl(198, 44%, 11%);
}

.links {
    flex: 1;
    display: flex;
    justify-content: end;
}

.links a {
    font-size: 1.125rem;
    color: hsl(233, 8%, 62%);
    transition: color 0.25s ease-in-out;
}
.links a:hover {
    color: hsl(136, 65%, 51%);
    
}

.links a:not(:last-child) {
    margin-right: 3rem;
}